@charset "UTF-8";
.titlediv{
	margin-bottom: 20px;
}

.loginlogo{
	width:200px;
	height:200px;
	position:absolute;
	left:850px;
	top:450px;
	background-color:white;
}

.loginlayout{
	position: absolute;
	width: 800px;
	height: 800px;
	top: 500px;
	left:500px;
	border: solid black 1px;
}

.logininputdiv{
	width : fit-content;
	position: absolute;
}

.iddiv, .passworddiv{
	width:fit-content;
}

.passworddiv{
margint-top:30px;	
}


.idstr, .passwordstr{
	font-size: 40px;
}
#blankstr{
	margin-left: 184px;
}

.idinput, .passwordinput{
	height : 30px;
	font-size : 30px;
	border: dotted;
	
}



